<?xml version="1.0" encoding="UTF-8"?>



<configuration>

    <property scope="context" name="appLogFile" value="app.log"/>
    <SpringProperty name="logDir" source="log.path"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level |%X{userId:-}|%X{guid:-}| [%thread] %logger{5} - %msg%n</Pattern>
        </encoder>
    </appender>


    <appender name="appLogAppender"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <Prudent>true</Prudent>
        <file>${logDir}/${appLogFile}</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <charset>UTF-8</charset>
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level |%X{userId:-}|%X{guid:-}| [%thread] %logger{5} - %msg%n</Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- rollover daily -->
            <fileNamePattern>${logDir}/%d{yyyyMMdd}/${appLogFile}
            </fileNamePattern>

            <!-- keep 30 days' worth of history capped at 3GB total size -->
            <maxHistory>30</maxHistory>
            <totalSizeCap>3GB</totalSizeCap>

            <cleanHistoryOnStart>true</cleanHistoryOnStart>
        </rollingPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="appLogAppender" />
    </root>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>